$width: calc(100% - 12%);


div.lineDrawing{
    width: $width;
    height: 240px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 80px auto 135px auto;
    background: url("/img/line2.svg") 0 center / 1800px repeat-x;
    animation: movebg 15s linear infinite;
    // &:hover{
    //     animation-play-state: paused;
    // }
}

@keyframes movebg {
    from { background-position: 0 center; }
    to { background-position: -1800px center; }
}

section.about{
    width: $width;
    // height: 2130px;
    height: auto;
    margin: 0 auto;
    position: relative;
    div.sticky{
        position: sticky;
        top: 135px;
        z-index: 11;
        h2{
            font-size: 60px;
            font-weight: 800;
            margin-bottom: 50px;
        }
        a{
            font-size: 25px;
            display: flex;
            align-items: center;
        }
        img{
            margin-right: 20px;
        }
        .qrT{
            margin: 25px 0px 10px 0px;
            font-weight: 500;
        }
        .qr{
            border: 1.5px solid #000000;
            border-radius: 5px; 
        }
    }
    div.doIt{
        position: sticky;
        width: 100%;
        top: 250px;
        padding-left: 40%;
        z-index: 10;
        b{
            font-size: 100px;
        }
        p.doT{
            font-size: 18px;
            font-weight: 500;
            color: #161616;
            margin-top: 20px;
            padding-bottom: 100px;
            width: 70%;
            line-height: 40px;
        }
        p.education{
            font-size: 25px;
            font-weight: 800;
            margin-bottom: 20px;
            position: relative;
            // &::after{
            //     content: "";
            //     width: 400px;
            //     height: 1px;
            //     background-color: #000;
            //     position: absolute;
            //     top: 50%;
            //     left: 370px;
            //     transform: translate(-50%, -50%);
            // }
        }
        p.educationP{
            padding: 15px 0px 200px 0px; 
        }
    }
}

.M{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    img:nth-child(1){
        margin-top: -900px;
    }
    img:nth-child(2), img:nth-child(3){
        margin-top: 480px;
    }
}

div.canvasContainer{
    position: relative;
    .tool{
        left: 54%;
        position: absolute;
        top: 560px;
        div{
            display: flex;
            align-items: center;
            div{
                margin:0px 30px 0px 10px;
                width: 4px;
                height: 30px;
                background-color: #150945;
                animation: spin 3s infinite;
                transform-origin: center;
                animation-timing-function: steps(2);
            }
            .toolT{
                margin:0px 30px 0px 10px;
                width: 4px;
                height: 30px;
                background-color: #150945;
                animation: spinn 3s infinite;
                transform-origin: center;
                animation-timing-function: steps(2);
            }
        }
        b{
            font-size: 38px;
            color: #11043a;
        }
        p{
            margin: 20px 0px 60px 0px;
            font-size: 18px;
            font-weight: 600;
        }
    }
}


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


@keyframes spinn {
    0% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(450deg);
    }
}



.rotateCanvasWrapper{
   position: relative;
    canvas{
        // width: 100%;
        // height: 563px;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        top: 450px;
        left: 7%;
    }
}

div.canvasContainer{
    .water{
        width: 100%;
    }
}